@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700&display=swap);

body{
    height: 100%;
    background: url('../img/bg.png');
    background-size: 110%;
    background-attachment: fixed;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

.nav-text a.active{
    border-bottom: 4px solid #93A7AD;
    border-radius: 3px;
}

.nav-text a:hover{
    border-bottom: 4px solid #93A7AD;
    border-radius: 3px;
    
}

.img-logo{
    width: 160px;
    height: 160px;
}

.img_about{
    width: 100%;
    border-radius: 15px;
}

.title{
    font-family: 'cwTeXFangSong', serif;
    font-size: 48px;
}

.title-rect{
    width: 150px;
    height: 8px;
    background: #93A7AD;
    border-radius: 2px;
}

.rect{
    width: 5px;
    height: 50px;
    background: #93A7AD;
    border-radius: 2px;
}

.about-text{
    font-family: 'cwTeXFangSong', serif;
    font-weight: normal;
    font-size: 21px;
}

.verticaltext{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-size: 20px;
    color: #93A7AD;
}

.playTarot{
    height: 165px;
    background: #93A7AD;
    margin-top: 50px;
    color: #fff;
    font-size: 26px;
    font-family: 'cwTeXFangSong', serif;
}

.playTarot-text{
    color: #93A7AD;
    font-size: 26px;
    font-family: 'cwTeXFangSong', serif;
    line-height: 36px;
}

#goTarot:hover svg{
    color: #D4D4D4;
}

.tarot-container img{
    width: 210px;
}

#card{
    width: 210px;
    height: 280px;
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.tarot-card:hover{
    transform: rotateY( 180deg );
}

#card img{
    backface-visibility: hidden;
    position: absolute;
}

#card .back{
    transform: rotateY( 180deg );
    max-width: 100%;    
    height: auto;
    border-radius: 15px;
}

footer{
    background: #93A7AD;
    color: #fff;
    font-size: 22px;
    font-family: 'cwTeXFangSong', serif;
    margin-top: 10vh;
}

.footerHover:hover{
    transform: scale(0.9) !important;
}