html {
    width: 1440px;
    background-color: #93a7ad;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 1440px;
    height: 100%;
}

header {
    position: absolute;
    width: 1440px;
    margin: 0px;
}

.home-title1 {
    padding: 10px 20px;
    position: absolute;
    margin-top: 18%;
    margin-left: 43%;
    font-family: 'Noto Serif TC', serif;
    font-weight: normal;
    font-size: 3rem;
    line-height: 70px;
    color: #FFFFFF;
    text-align: center;
}
span {
    padding-bottom: 15px;
    border-bottom: 5px solid #f1bb5f;
}