
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

body{
    height: 100%;
    background: url('../img/bg-home.png');
    background-size: 110%;
    background-attachment: fixed;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    transition: 0.5s !important;
    font-family: 'cwTeXFangSong', serif;
}

.nav-text a.active{
    border-bottom: 4px solid #fff;
    border-radius: 3px;
}
.nav-text a:hover{
    border-bottom: 4px solid #fff;
    border-radius: 3px;
    
}
.img-logo{
    width: 160px;
    height: 160px;
}

span {
    padding-bottom: 15px;
    border-bottom: 5px solid #f1bb5f;
}

.container-1 img{
    margin: 100px 0;
    width: 30%;
}

.container-2{
    background: url('../img/bg.png');
    background-color: #fff;
    height: 145vh;
    overflow: hidden;
}

.store-down {
    position: relative;
    bottom: 240px;
}

.store-title {
    position: relative;
    left: 500px;
    bottom: 130px
}

.fade-in {
    opacity: 1;
}

.container-3{
    height: 100vh;
    
}

.container-3 img{
    height: 15vh;
}

.container-4{
    background: url('../img/bg.png');
    background-color: #fff;
    height: 145vh;
}

.serve-title {
    padding: 100px 0;
}

.serve-title h1 {
    font-weight: bold;
    font-family: "cwTeXFangSong", serif;
    color: #93A7AD;
    
}

.line {
    width: 160px;
    height: 5px;
    background: #93A7AD;
}

.card-text {
    font-weight: bold;
    font-family: "cwTeXFangSong", serif;
    color: #93A7AD;
}

footer{
    background: #93A7AD;
    color: #fff;
    font-size: 22px;
    font-family: 'cwTeXFangSong', serif;
}

.footerHover:hover{
    transform: scale(0.9) !important;
}