@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
body{
    height: 100%;
    background: url('../img/bg.png');
    background-size: 110%;
    background-attachment: fixed;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

.nav-text a.active{
    border-bottom: 4px solid #93A7AD;
    border-radius: 3px;
}
.nav-text a:hover{
    border-bottom: 4px solid #93A7AD;
    border-radius: 3px;
    
}
.img-logo{
    width: 160px;
    height: 160px;
}

.home-title1 {
    padding: 10px 20px;
    position: absolute;
    margin-top: 7%;
    margin-left: 40%;
    font-family: 'cwTeXFangSong', serif;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 70px;
    color: #93A7AD;
    text-align: center;
}
span {
    padding-bottom: 15px;
    border-bottom: 5px solid #f1bb5f;
}